body{
 background-color: pink;
 margin:20px;
}
h1 {
    font-family: 'Vidaloka', serif;
    text-align: center;
    text-transform: uppercase;
}
p{
    text-align: center;
}
img{
    width: 100%;
    border: 5px solid white
}
div{
    width: 50%;
    margin-left: 25%;
}